<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Student Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Student Application ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Course", "Index", "Course")</li>
                    <li>@Html.ActionLink("Batch", "Index", "Batch")</li>
                    <li>@Html.ActionLink("Registration", "Index", "Registration")</li>
                    <li>@Html.ActionLink("User", "Index", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-right" style="color: white">
                    @if (Session["UserID"] != null)
                    {
                        <h4 style="color: white">Hello @Session["UserName"]</h4>
                        @Html.ActionLink("Logout", "Logout", "Login")

                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")

                    }

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!--Social Linking-->
        <asp:ContentPlaceHolderID ="social" runat="server">
            </asp:ContentPlaceHolder>

            <asp:ContentPlaceHolderrunat ="server" ID="SocialContentListItems">
                </asp:ContentPlaceHolder>


                <footer>
                    <a href="mailto:Support@example.com">  <img src="~/source/envelope-solid.svg" width="40" height="40" /></a><span> &nbsp; &nbsp; &nbsp;</span>
                    @*<strong>Linkedin:</strong>*@
                    <a href="https://www.linkedin.com/in/namrata-tamhankar/"></a><img src="~/source/linkedin-brands.svg" width="40" height="40" /><span> &nbsp; &nbsp; &nbsp;</span>
                    @*<strong>GitHub:</strong>*@
                    <a href="https://github.com/NamrataTamhankar" target="_blank"><img src="~/source/github-brands.svg" width="40" height="40" /></a><span> &nbsp; &nbsp; &nbsp;</span>
                    <a href="https://www.youtube.com/user/atos" target="_blank"><img src="~/source/youtube-brands.svg" width="40" height="40" /></a><span> &nbsp; &nbsp; &nbsp;</span>
                    <a href="https://www.facebook.com/Atos/" target="_blank"><img src="~/source/facebook-brands.svg" width="40" height="40" /></a><span> &nbsp; &nbsp; &nbsp;</span>
                    <a href="https://www.google.com/search?q=atos%20syntel%20seepz&rlz=1C1GCEA_enIN982IN984&oq=atos+seepz&aqs=chrome.1.69i57j0i22i30.8015j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&sxsrf=APq-WBvSkA02o0w4t-cbf4dI3FIkeUd7dw:1646224165788&rflfq=1&num=10&rldimm=7434816437914658966&lqi=ChFhdG9zIHN5bnRlbCBzZWVweiIDiAEBkgEQc29mdHdhcmVfY29tcGFueQ&ved=2ahUKEwj9_vz0tqf2AhX-yzgGHQgTCIEQvS56BAgFEAE&rlst=f#rlfi=hd:;si:12109846415045050934;mv:[[19.1283665,72.8764009],[19.1260031,72.87479929999999]]" target="_blank">
                        <img src="~/source/location-dot-solid.svg" width="40" height="40" />
                    </a><span> &nbsp; &nbsp; &nbsp;</span>
                    <br /><br />
                    <p>&copy; @DateTime.Now.Year - My Student Application</p>
                </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
